services:
  traefik:
    image: traefik:v3.6
    command:
      - --providers.docker.swarm=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - gluster_root:/letsencrypt/traefik_certs
    networks:
      - overlay
    deploy:
      placement:
        constraints:
          - node.hostname == swarm-manager-0
      replicas: 1

  portainer_ce:
    image: portainer/portainer-ce:2.39.0
    command: -H unix:///var/run/docker.sock --http-enabled
    secrets:
      - portainer_ce_admin_password
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - gluster_root:/data/portainer_ce_data
    networks:
      - overlay
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.portainer.rule=Host(` {{ docker_services_portainer_domain }} `)
        - traefik.http.routers.portainer.entrypoints=websecure
        - traefik.http.routers.portainer.tls=true
        - traefik.http.services.portainer.loadbalancer.server.port=9000
      placement:
        constraints: [node.role == manager]

  portainer_agent:
    image: portainer/agent:2.39.0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - overlay
    deploy:
      mode: global

networks:
  overlay:
    driver: overlay

secrets:
  portainer_ce_admin_password:
    external: true

volumes:
  gluster_root:
    driver: local
    driver_opts:
      type: glusterfs
      # Point to the ROOT of the volume only
      device: "172.16.2.192:docker_data,172.16.2.63:docker_data,172.16.3.86:docker_data"
