# Copy to terraform.tfvars and fill in the values.
# terraform.tfvars is gitignored — never commit it.

vault_root_token  = "hvs.XXXXXXXXXXXXXXXXXXXXXXXX"

grafana_username  = ""
grafana_password  = ""
keycloak_username = ""
keycloak_password = ""
harbor_username   = ""
harbor_password   = ""
